.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

@mixin scrollGroup {
   /*  height: 30vh; */ // Define a altura do elemento como 100% da altura da viewport
    overflow-y: auto; // Adiciona a barra de rolagem vertical somente quando necessário
  }
  
  .scroll-group {
    @include scrollGroup; // Aplica o mixin scrollGroup à classe .scroll-group
  }