// Override default variables before the import
$body-bg: #ffffff !default;
$body-color: #111433 !default;

$primary: #293b80 !default;
$info: #2196f3 !default;
$danger: #ff0000 !default;
$dark: $body-bg !default;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
